/*resetting*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100%;
    /* border: 1px solid grey; */
}

/*general styling*/
html{
    font-size: 62.5%;
}
body{
    font-size: 1.8rem;
    line-height: 1.5;
    color: #4f4f4f;
    background-color: #000000;
    margin: 0;
    font-family: 'Alata', sans-serif;

}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    background-color: rgba(194, 48, 194, 0.452);

}
.logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.logo h2 a{
    text-decoration: none; 
    font-size: 4.5rem;
    font-family: 'Alata', sans-serif;
    font-weight: 900;
    color: white;
    transition: .5s;
    margin-left: 10%;
}
.logo h2 a:hover{
    color: #fc8a1fc0;
}
.navigation{
    width: 100%;
}
.navigation nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-right: 1%;
}
.navigation nav a{
    margin: .1%;
    padding: .3%  1.5%;
    color: white;
    background-color: #540963;
    text-decoration: none;
    transition: .5s;
    text-align: center;
    border: 1px solid black;
}
nav a:hover{
    background-color: #fc8a1fc0;
    color: #4f4f4f;
}
.top{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/images/efe-kurnaz-RnCPiXixooY-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;  
    flex-flow: column wrap;
}

.top h1{
    font-size: 10rem;
    font-family: 'alata', sans-serif;
    color: whitesmoke;
    font-weight: bold;
}
.top p{
    font-size: 3rem;
    font-family: 'Alata', sans-serif;
    color: whitesmoke;
    text-align: center;
}
.container-top .bg-img{
    background-image: url(/images/tumblr_mkqtnpDYGH1rnwo2vo1_500.gif);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: 20%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
footer{
    width: 100%;
    background-color: #ee89f194;
    padding: 3%;
    display: flex;
    justify-content: center;
    align-items: center;  
}
footer button{
    padding: .5% 1%;
    font-family: 'Alata', sans-serif;
    color: white;
    background-color: #540963;
    transition: .5s;
}
footer button:hover{
    color: #4f4f4f;
    background-color: #fc8a1fc0;
}
@media(max-width: 500px){
    body{
        background-color: rgb(46, 7, 39);
    }
    header{
        display: flex;
        flex-flow: column wrap;
        background: none;
        position: relative;
    }
    .logo{
        width: 100%;
        display: flex;
        justify-content: center;
    }
   
    .logo h2 a{
        margin: 0%;
        padding: 0%;
        color: white;
        font-size: 5rem;
    }
    .navigation{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navigation nav {
        display: flex;
        flex-flow: column wrap;
        margin-top: 5%;
    }
    .navigation nav a{
        width: 25vw;
        padding: 1%;
        font-size: 2rem;
    }
    .container-top{
        display: flex;
        justify-content: center;
       }
    .top{
        width: 100%;
        height: 100vh;
        margin: 10% 5%;
    }
      
    .top h1{
        font-size: 7rem;
    }
    .top p{
        font-size: 2rem;
        color: white;
    }
    footer{
        padding: 12%;
    }
    footer button{
        font-size: 2rem;
        padding: 2%;
    }

}